@import '../../vars.scss'; 

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 72px 0;
}
.section {
  padding: 24px 32px;
}
.button {
  text-align: center;
  background-color: $light-blue;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
@media (min-width: 900px) {
  .container {
    padding: 0 11.5vw;
  }
  .section > div > div {
    text-align: center;
    padding: 0 16.5vw;
  }
  .questions {
    padding: 0 16.5vw;
  }
  .button {
    margin-bottom: 4vw;
  }
}