@import '../../vars.scss'; 

.footer {
  background-color: $dark-blue;
  color: white;
  padding: 36px 32px;
}
.logo {
  display: flex;
  justify-content: center;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 36px 0;
  letter-spacing: 3.2px;
  font-size: 14px;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 36px;
}
@media (min-width: 900px) {
  .footer {
    padding: 2vw 11.5vw;
    display: flex;
    align-items: center;
  }
  .list {
    flex-direction: row;
    padding: 0 4vw;
    font-size: 13px;
    margin-left: 2vw;
    gap: 3vw;
  }
  .icons {
    margin-left: auto;
  }
}